*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}


/* MAIN CONTAINER */
main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* width: 100vw; */
}

/* LEFT SIDE */
.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(to top right, #7c77c5, #110a6d);
}

#main-img {
  width: 60%;
}

/* RIGHT SIDE */

.right-container {
  width: 50%;
  padding: 0 5%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

/* RIGHT HEADER */

.right-header {
  /* margin: 10% 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons i {
  margin: 0 0.8rem;
  font-size: 1.3rem;
}

/* RIGHT CONTENT */

/* .right-content {
  margin: 20% 0 0;
} */

.right-content h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

.right-content > p {
  font-size: 1rem;
  color: hsl(0, 0%, 50%);
  margin: 5% 0 10%;
}

.right-content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

/* RIGHT FORM */

.right-form {
  display: flex;
  justify-content: space-between;
}

.signup {
  width: 65%;
  height: 3.5rem;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0 , .1);
  border: 0;
  border-radius: 3px;
  outline: 0;
  padding: 20px 18px;
  font-size: 1rem;
}

.submit {
  background-color:  hsl(163, 95%, 43%);
  color: #fff;
  font-size: 1rem;
  width: 30%;
  height: 3.5rem;
	border: 0;
	outline: 0;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-weight: 700;
}
/* RIGHT PRIVACY */

.right-privacy {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 5%; */
}

/* MOBILE */

@media (max-width: 991.98px) {
  [class*="-container"] {
    width: 100%;
  }

  /* MAIN */
  main {
    display: block;
    height: 100%;
  }

  /* LEFT CONTAINER */

  .left-container {
    height: 100vh;
    /* background: url("images/bg-intro.svg") center/100% 100% no-repeat; */
    background-image: url("images/bg-intro.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    max-height: 65vh;

  }

  /* #main-img {
    width: 60%;
  } */

  /* RIGHT CONTAINER */

  .right-container {
    padding: 0 10%;
  }
  .right-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* This is mandatory for flexbox working */
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
  }

  #logo {
    transform: scale(0.7);
    filter: brightness(0) invert(1);
  }

  .icons i {
    font-size: 1.2em;
    color: #fff;
  }

  .right-form {
    flex-wrap: wrap;
  }

  .signup {
    width: 100%;
    /* border: hsl(0, 0%, 95%) 1px solid; */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0 , .1);

  }

  .submit {
    width: 50%;
    margin: 5% 0 0;
  }

  /* RIGHT PRIVACY */
  .right-privacy {
    padding: 10% 0 5%;
  }

}