*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/* MAIN CONTAINER */
main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* LEFT SIDE */
.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(to top right, hsl(243, 86%, 85%), hsl(243, 87%, 12%));
}

#main-img {
  width: 60%;
}

/* RIGHT SIDE */

.right-container {
  width: 50%;
  padding: 0 5%;
}

/* RIGHT HEADER */

.right-header {
  margin: 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 6rem;
}
.icons i {
  padding: 0 0.8rem;
  font-size: 1.3rem;
}

/* RIGHT CONTENT */

.right-content {
  padding: 20% 0 0;
}
.right-content h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

.right-content > p {
  font-size: 1rem;
  color: hsl(0, 0%, 50%);
  margin: 5% 0 10%;
}

.right-content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

/* RIGHT FORM */

.right-form {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

.signup {
  width: 65%;
  height: 3.5rem;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0 , .1);
  border: 0;
  border-radius: 3px;
  outline: 0;
  padding: 20px 18px;
  font-size: 1rem;
}

.submit {
  background-color:  hsl(163, 95%, 43%);
  color: #fff;
  font-size: 1rem;
  width: 30%;
  height: 3.5rem;
	border: 0;
	outline: 0;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-weight: 700;
}
/* RIGHT PRIVACY */

.right-privacy {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
}

/* MOBILE */

@media (max-width: 991.98px) {
  [class*="-container"] {
    width: 100%;
  }
  main {
    display: block;
    height: 100%;
  }

}